/craw_data/hihonor/data
/crawler_learn/pycraw3/selenium_base/data
/craw_data/com_use/data
/craw_data/national_data/data
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/csv-editor.xml
.idea/other.xml
craw_data/hihonor/__pycache__/clean_data.cpython-310.pyc
craw_data/hihonor/__pycache__/pc_honor.cpython-310.pyc
craw_data/hihonor/data/space_urls.csv
craw_data/hihonor/data/space_urls_sleep.csv
